@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-dark-blue: #051D3B;
    --blue-blue-300: #5081FB;
    --neutral-white: #FFFFFF;
    --font-primary: 'Inter', sans-serif;
}
body {
    font-family: var(--font-primary);
    background-color: var(--blue-dark-blue);
    color: var(--neutral-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: espace-between;
    gap: 1.5rem;
    padding: 2rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 145px;
    height: 35px;
    flex-shrink: 0;
}

.find {
    width: 725px;
}

.find input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
    color: var(--blue-dark-blue);
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.5;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;

}
